[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  margin-left: 0px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $light-grey;
}

.navigation, .header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
}

.header {
  background-color: white;

  .browser-banner {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 990px;
  }

  .mobile-banner {
    display: none;
  }
}

.navigation {
  background-color: $green;
  border-top: 3px solid $dark-green;
  border-bottom: 3px solid $dark-green;
  font-size: 0;
  white-space: nowrap;
  box-shadow: 0 0 2px 0 #444;

  .element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid $medium-dark-green;

    &.first {
      border-left: 1px solid $medium-dark-green;
    }

    a {
      display: block;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
      padding: 0 30px;
      font-family: $sans-font;
      font-size: 10.5pt;
      font-weight: 300;
      white-space: nowrap;
      background-color: $green;
      @include transition(color 0.2s ease, background 0.2s ease, opacity 0.2s ease);

      &.current {
        background-color: $medium-green;
      }

      &:hover {
        background-color: $medium-dark-green;
      }
    }

    .sub-tree {
      position: absolute;
      top: 40px;
      left: 0px;
      padding-top: 3px;
      width: auto;
      max-height: 0px;
      opacity: 0;
      overflow: hidden;
      @include transition(opacity 0.2s ease, max-height 0.2s, border 0.2s ease);

      a {
        position: relative;
        display: block;
        border: 1px solid $dark-green;
        border-top-width: 0px;
        text-align: left;
      }
    }

    &:hover {
      .sub-tree {
        opacity: 1;
      }

      .sub-tree-2 {
        max-height: calc(41px * 2);
      }

      .sub-tree-3 {
        max-height: calc(41px * 3);
      }

      .sub-tree-4 {
        max-height: calc(41px * 4);
      }
    }
  }
}

.page {
  z-index: 10;
  position: relative;
  display: block;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px #444;
  margin-bottom: 15px;
}

.content, .footer {
  position: relative;
  display: block;
  width: 100%;
  padding: 16pt;
  box-sizing: border-box;
  border: 1px solid $dark-green;
  border-top-width: 0px;
}

.content {
  background-color: white;
  font-size: 0;

  .tile {
    position: relative;
    display: inline-block;
    width: 48.5%;
    margin: 0.5%;
    margin-bottom: 16pt;

    img.fill {
      width: 80%;
      box-shadow: 0 0 3px 0 black;
      margin-bottom: 16pt;

      &.centered {
        margin-left: 10%;
        margin-right: 10%;
      }

      &.p60 {
        width: 60%;

        &.centered {
          margin-left: 20%;
          margin-right: 20%;
        }
      }
    }

    &.p25 {
      width: 23.5%;
    }

    &.p66 {
      width: 64.5%;
    }

    &.p75 {
      width: 73.5%;
    }

    &.p100 {
      width: 98.5%;
    }
  }

  h1, h2, h3 {
    font-family: $sans-font;
    margin-bottom: 8pt;

    &.centered {
      text-align: center;
    }
  }

  h1 {
    font-size: 24pt;
    line-height: 30pt;
    text-transform: uppercase;
    font-weight: 300;
  }

  h2 {
    font-size: 20pt;
    line-height: 24pt;
    text-transform: uppercase;
    font-weight: 300;
  }

  h3 {
    font-size: 13pt;
    line-height: 20pt;
    font-weight: 700;
  }

  p {
    font-size: 12pt;
    line-height: 20pt;
    font-family: $sans-font;
    margin-bottom: 8pt;
    margin-top: 8pt;
    text-indent: 24pt;

    &.subtitle {
      font-size: 11pt;
      color: $dark-grey;
      font-style: italic;
    }

    a {
      text-decoration: none;
      font-weight: 700;
      color: $link-blue;
      @include transition(color ease 0.25s);

      &:hover {
        color: $link-blue-hover;
      }
    }
  }

  ul, ol {
    font-family: $sans-font;
    font-size: 12pt;
    margin-left: 20pt;

    li {

    }
  }
}

.footer {
  background-color: $light-green;
}

/* ---------------- */

.fade-colors {
  @include transition(color 0.2s ease, background 0.2s ease, opacity 0.2s ease);
}

.no-user-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}