.navigation {
  .element {
    a {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 10pt;
    }
    .sub-tree {
      top: 30px;
    }
  }
}

.page {
  width: 95%;
}

.content, .footer {
  padding: 12pt;
}

.content {
  .tile {
    width: 96%;
    margin: 1% 2%;
  }
}

.align-center-compact {
  text-align: center;
}

.align-left-compact {
  text-align: left;
}

.align-right-compact {
  text-align: right;
}