.navigation {
  .element {
    a {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 10pt;
    }
    .sub-tree {
      top: 30px;
    }
  }
}

.page {
  width: 95%;
}

.content {
  .tile {
    width: 94%;
    margin: 3%;
  }
}

.alignRight {
  text-align: center;
}