body {
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

  .browser-banner {
    display: none;
  }

  .mobile-banner {
    position: relative;
    display: block;
    height: 47px;
    width: 100%;
    background-color: $green;
    border-bottom: 3px solid $dark-green;

    .mobile-logo {
      position: absolute;
      display: block;
      top: 0;
      left: 10px;
      height: 47px;
      width: 74px;
    }

    .mobile-text {
      position: absolute;
      display: block;
      bottom: 0;
      left: 100px;
      max-width: calc(100% - 165px);
      max-height: 80%;
    }

    .mobile-nav-toggle {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 47px;
      width: 60px;
      cursor: pointer;
      background-color: $green;

      .show-nav,
      .hide-nav {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        height: 47px;
        width: 60px;
        line-height: 47px;
        text-align: center;
        font-size: 24px;
        color: #ffffff;
        pointer-events: none;
      }
    }

    .mobile-nav-toggle:hover {
      background-color: $mid-dk-green;
    }
  }
}

.show-mobile-nav .header .mobile-banner .mobile-nav-toggle .show-nav,
.header .mobile-banner .mobile-nav-toggle .hide-nav {
  opacity: 0;
}

.show-mobile-nav .header .mobile-banner .mobile-nav-toggle .hide-nav,
.header .mobile-banner .mobile-nav-toggle .show-nav {
  opacity: 1;
}



.navigation {
  position: absolute;
  top: 50px;
  width: 100%;
  bottom: 0;
  overflow: auto;
  border-width: 0px;
  background-color: transparent;
  box-shadow: 0 0 0 0 #000;
  left: -100%;
  opacity: 0;
  @include transition(left 0.2s ease, opacity 0.2s ease);

  .element {
    display: block;
    width: 100%;
    border-right: 0px solid $mid-dk-green;
    border-bottom: 1px solid $mid-dk-green;

    a {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: 11pt;
      text-align: left;
    }

    .sub-tree {
      position: relative;
      display: block;
      width: 100%;
      max-height: 9999px;
      opacity: 1;
      top: 0;
      left: 0;
      padding-top: 0;
      box-shadow: 0 0 0 0 #000;

      a {
        position: relative;
        display: block;
        color: $lt-lt-grey;
        border: 0 solid $dark-green;
        font-size: 10pt;
        border-top: 1px solid $mid-dk-green;
        padding-left: 50px;
        text-align: left;
      }
    }
  }

  .element.first {
    border-left: 0px solid $mid-dk-green;
  }

  .element.last {
    border-bottom: 2px solid $dark-green;
  }

  .element:hover .sub-tree-2,
  .element:hover .sub-tree-3,
  .element:hover .sub-tree-4 {
    max-height: 9999px;
  }
}

.show-mobile-nav .navigation {
  left: 0;
  opacity: 1;
}

.page {
  margin-top: 50px;
  width: 100%;
  border-width: 0px;
}