$compact-size: 900px;
$mobile-size: 600px;

$sans-font: 'Open Sans', 'Arial', 'sans-serif';

$dark-white: #f4f4f4;

$light-grey: #dfe6f6;
$grey: #cdd7f0;
$dark-grey: #808080;

$light-green: #5e9ea0;
$green: #01969a;
$medium-dark-green: #007E82;
$dark-green: #006669;

$link-blue: #1f4294;
$link-blue-hover: rgba(33, 79, 183, 0.83);

$brown: #cfb18d;
$dark-brown: #755c48;

$yellow: #ffe51f;

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}